opencv-python
mediapipe
pyautogui
screeninfo
numpy
# For Windows audio control
pycaw; platform_system == "Windows"
# For macOS audio control
pyobjc-framework-ApplicationServices; platform_system == "Darwin"
pyobjc-framework-Quartz; platform_system == "Darwin"
pyobjc-framework-CoreAudio; platform_system == "Darwin"